$paneBorderRadius: 1.9rem;

.pane {
  position: relative;
  pointer-events: auto;
  background: var(--background-color); 
  border: .1rem solid var(--text-color);
  &.tr {
    border-top-right-radius: $paneBorderRadius;
  }
  &.tl {
    border-top-left-radius: $paneBorderRadius;
  }
  &.decorator-bottom {
    border-bottom: .6rem solid var(--text-color);
  }
  .pane-content {
    padding: 3rem;
    &.vertical {
      padding: 3rem 0;
    }
    &.horizontal {
      padding: 0 3rem;
    }
    &.bottom {
      padding-bottom: 3rem;
    }
    &.top {
      padding-top: 3rem;
    }
    &.left {
      padding-left: 3rem;
    }
    &.right{ 
      padding-right: 3rem;
    }
  }
}