@font-face {
  font-family: 'Lusitana';
  src: url('~/assets/fonts/lusitana/Lusitana-Bold.woff2') format('woff2'),
    url('~/assets/fonts/lusitana/Lusitana-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusitana';
  src: url('~/assets/fonts/lusitana/Lusitana.woff2') format('woff2'),
    url('~/assets/fonts/lusitana/Lusitana.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lusitana', serif;
}