@font-face {
    font-family: 'Sweden Sans';
    src: url('SwedenSans.woff2') format('woff2'),
        url('SwedenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

